services:
    # custom fosuser user manager    
    massil_user.manager.orm_user_manager:
        class:     Massil\MultiUserBundle\Doctrine\UserManager
        arguments: ["@security.encoder_factory", "@fos_user.util.username_canonicalizer", "@fos_user.util.email_canonicalizer", "@fos_user.object_manager", %fos_user.model.user.class%, "@massil_user.manager.user_discriminator"]
        
    massil_user_manager:
        alias: massil_user.manager.orm_user_manager
