services:
        
    # to discriminate users types
    massil_user.manager.user_discriminator:
        class:     Massil\MultiUserBundle\Model\UserDiscriminator
        arguments: ["@session", %massil_user_discriminator_users%]       
        
    #manage registration
    massil_multi_user.registration_manager:
        class: Massil\MultiUserBundle\Controller\RegistrationManager
        arguments: ["@massil_user.manager.user_discriminator", "@service_container", "@massil_multi_user.registration_controller", "@fos_user.registration.form.factory"]
        
    massil_multi_user.profile_manager:
        class: Massil\MultiUserBundle\Controller\ProfileManager
        arguments: ["@massil_user.manager.user_discriminator", "@service_container", "@massil_multi_user.profile_controller", "@fos_user.profile.form.factory"]

    #simply wrap
    massil_multi_user.registration_controller:
      class: FOS\UserBundle\Controller\RegistrationController
      
    massil_multi_user.profile_controller:
      class: FOS\UserBundle\Controller\ProfileController

    #form factories
    massil_multi_user.registration_form_factory:
      class: Massil\MultiUserBundle\Form\FormFactory
      arguments: ["@massil_user.manager.user_discriminator", "@form.factory", "registration"]
      
    massil_multi_user.profile_form_factory:
      class: Massil\MultiUserBundle\Form\FormFactory
      arguments: ["@massil_user.manager.user_discriminator", "@form.factory", "profile"]
      
    #listener
    massil_multi_user.listener.authentication:
      class:     Massil\MultiUserBundle\Listener\AuthenticationListener
      arguments: ["@massil_user.manager.user_discriminator"]
      tags:
            - { name: kernel.event_subscriber }
            
    #validator
    massil_multi_user.orm.validator.unique:
        class: Massil\MultiUserBundle\Validator\Constraints\UniqueEntityValidator
        arguments: [ "@doctrine" ]
        tags:
            - { name: validator.constraint_validator, alias: pugx.orm.validator.unique }        
                
    # alias
    massil_user_discriminator:
        alias: massil_user.manager.user_discriminator
    
